.header.shop .topbar {
    background-color: #F5B434;
    border: none;
}
.header.shop .list-main li i {
    display: inline-block;
    margin-right: 4px;
    font-size: 15px;
    color: #333;
    position: relative;
    top: 1px;
}
.header.shop .list-main li a {
    color: #333;
}
.header.shop .list-main li a:hover {
        color: #fff;
}
.header.shop .middle-inner {
    padding: 20px 0;
    background: #fff;
    border-top: 1px solid #eee;
}

/* Centered pop-up */
.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: left;
    border-radius: 5px;
    width: 500px; /* Adjust the width as needed for a wider pop-up */
}

/* Style the close button */
.popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}