<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
	<title>Express Cart</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png " href="images/logo1.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	
	<!-- StyleSheet -->
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/bootstrap.css">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="/magnific-popup.min.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="/jquery.fancybox.min.css">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="/themify-icons.css">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="/niceselect.css">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="/animate.css">
	
	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="/reset.css">
	<link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/responsive.css">
	<link rel="stylesheet" href="/myStyle.css">
    <style>
        .active{
            font-weight: bold;
        }
        .main-sidebar{
            background: #fff;
            margin-top: 0px;
            padding: 40px;
            background: transparent;
            border: 1px solid #eeeeeec2;
        }
        .button{
           margin-left: auto;
        }
    </style>
	
	
</head>
<body class="js">
	
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	
	
		
		<!-- Header -->
		<header class="header shop">
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-12 col-12">
							<!-- Top Left -->
							<div class="top-left">
								<ul class="list-main">
								<li><i class="ti-email"></i> support@express-cart.org</li>
							</ul> 
						</div>
							
							<!--/ End Top Left -->
						</div>
						<div class="col-lg-8 col-md-12 col-12">
							<!-- Top Right -->
							<div class="right-content">
                                <ul class="list-main">
                                    <li><i class=""></i> <a href="/login">Log out</a></li>
                                    <li><i class="ti-user"></i> <a href="/settings">Your Account</a></li>
                                </ul>
                            </div>
							<!-- End Top Right -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<div class="middle-inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-12">
							<!-- Logo -->
							<div class="logo">
								<a href="/index">
									<h4>
										Express Cart
									</h4>
								</a>
							</div>
							<!--/ End Logo -->
							<!-- Search Form -->
							<div class="search-top">
								<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
								<!-- Search Form -->
								<div class="search-top">
									<form class="search-form">
										<input type="text" placeholder="Search here..." name="search">
										<button value="search" type="submit"><i class="ti-search"></i></button>
									</form>
								</div>
								<!--/ End Search Form -->
							</div>
							<!--/ End Search Form -->
							<div class="mobile-nav"></div>
						</div>
						<div class="col-lg-8 col-md-7 col-12">
							<div class="search-bar-top">
								<h2>Account</h2>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-12">
							<div class="right-bar">
								<!-- Search Form -->
								<!-- <div class="sinlge-bar">
									<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								</div>
								<div class="sinlge-bar">
									<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
								</div> -->
								<div class="sinlge-bar shopping">
									<a href="/cart" class="single-icon"><i class="ti-bag"></i> </span></a>
									<!-- Shopping Item -->
									<!--/ End Shopping Item -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
	
	
  
	<!-- Start Contact -->
	<section id="contact-us" class="contact-us section">
		<div class="container">
				<div class="contact-head">
					<div class="row">

                        <div class="col-lg-4 col-12">
							<div class="main-sidebar">

                                <div class="single-widget category">
                                    <h3 class="title">Settings</h3>
                                    <ul class="categor-list">
                                        <li><a href="/settings">Account Settings</a></li>
                                        <li><a href="/changepassword">Change Password</a></li>
                                        <li><a href="/policy">Privacy and Policy</a></li>
                                        <li><a href="/contact" class="active">Contact</a></li>
                                        <li><a href="/about">About Us</a></li>
                                    </ul>
                                </div>  

							</div>
						</div>


						<div class="col-lg-8 col-12">
							<div class="form-main">
								<div class="title">
									<!-- <h4>Get in touch</h4> -->
									<h3>Contact</h3>
								</div>

                                <h6>You can personally contact us through:</h6>
                                <br/>
                                <section class="shop-blog ">
                                    <div class="container">
                                        
                                        <div class="row">
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <!-- Start Single Blog  -->
                                                <div class="shop-single-blog">
													<a href="https://web.facebook.com/liendon.palihan" target="_blank">
                                                    <img src="images/marc.jpg" alt="#">
                                                    <div class="product-content">
                                                        <p>Marc Liendon Palihan </p>
													</a>    
                                                    </div>
                                                </div>
                                                <!-- End Single Blog  -->
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <!-- Start Single Blog  -->
                                                <div class="shop-single-blog">
													<a href="https://web.facebook.com/karenmae.mamaril" target="_blank">
                                                    <img src="images/karen.jpg" alt="#">
                                                    <div class="product-content">
                                                        <p>Karen Mae Mamaril </p>
													</a>   
                                                    </div>
                                                </div>
                                                <!-- End Single Blog  -->
                                            </div>
                                            <div class="col-lg-4 col-md-6 col-12">
                                                <!-- Start Single Blog  -->
                                                <div class="shop-single-blog">
													<a href="https://www.facebook.com/eulysis.cuerdo/" target="_blank">
                                                    <img src="images/eulysis.jpg" alt="#">
                                                    <div class="product-content">
                                                        <p>Eulysis Cuerdo </p>
													</a>    
                                                    </div>
                                                </div>
                                                <!-- End Single Blog  -->
                                            </div>

                                            <div class="col-lg-4 col-md-6 col-12">
                                                <!-- Start Single Blog  -->
                                                <div class="shop-single-blog">
													<a href="https://www.facebook.com/Belph911" target="_blank">
                                                    <img src="images/jerome.jpg" alt="">
                                                    <div class="product-content">
                                                        <p>Jerome Espinosa </p>
													</a>
                                                    </div>
                                                </div>
                                                <!-- End Single Blog  -->
                                            </div>


                                            <div class="col-lg-4 col-md-6 col-12">
                                                <!-- Start Single Blog  -->
                                                <div class="shop-single-blog">
													<a href="https://www.facebook.com/johncarl.fernandez.752" target="_blank">
                                                    <img src="images/jc.jpg" alt="#">
                                                    <div class="product-content">
                                                        <p>John Carl Fernandez </p>
													</a>
                                                    </div>
                                                </div>
                                                <!-- End Single Blog  -->
                                            </div>

                                        </div>
                                        <!-- row -->
                                    </div>
                                </section>
                                <!-- End Shop Blog  -->  
                                <br/>

                                <h6>Social Media Accounts</h6>
                                <br/>
                                <section class="shop-blog ">
                                    <div class="container">

                                        <div class="row">
                                            <div class="col-lg-3 col-md-6 col-12">
                                                <!-- Start Single Service -->
                                                <div class="single-service">
                                                    <div class="row">
                                                        
                                                        <div class="col-md-4">
                                                            <a href="#">
                                                                <img src="./images/fb.png" width="50" height="50" alt="#">
                                                            </a>    
                                                        </div>

                                                        <div class="col-md-4">
                                                            <a href="#">
                                                                <img src="./images/twitter.png" width="50" height="50" alt="#">
                                                            </a>    
                                                        </div>

                                                        <div class="col-md-4">
                                                            <a href="#">
                                                                <img src="./images/mail.png" width="50" height="50" alt="#">
                                                            </a>    
                                                        </div>

                                                       

                                                    </div>

                                                    
                                                  
                                                    
                                                </div>
                                                <!-- End Single Service -->
                                            </div>
                                            
                                        </div>
                                        <!-- row -->
                                    </div>
                                </section>


							</div>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<!--/ End Contact -->


	


	
	
 
	<!-- Jquery -->
    <script src="/jquery.min.js"></script>
    <script src="/jquery-migrate-3.0.0.js"></script>
	<script src="/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="/colors.js"></script>
	<!-- Magnific Popup JS -->
	<script src="/magnific-popup.js"></script>
	<!-- Fancybox JS -->
	<script src="/facnybox.min.js"></script>
	<!-- Jquery Counterup JS -->
	<script src="/jquery-counterup.min.js"></script>
	<!-- Nice Select JS -->
	<script src="/nicesellect.js"></script>
	<!-- Onepage Nav JS -->
	<script src="/onepage-nav.min.js"></script>
	<!-- Active JS -->
	<script src="/active.js"></script>
</body>
</html>