<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>Express Cart</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png " href="images/logo1.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	
	<!-- StyleSheet -->
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/bootstrap.css">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="/magnific-popup.min.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="/jquery.fancybox.min.css">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="/themify-icons.css">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="/niceselect.css">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="/animate.css">
	
	<!-- shop StyleSheet -->
	<link rel="stylesheet" href="/reset.css">
	<link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/responsive.css">
	<link rel="stylesheet" href="/myStyle.css">
	<style>
		.shopping{
			margin-right: "190px";
		}
	     /* Style for the dropdown */
        .cat-heading {
            cursor: pointer;
            color: #333;
        }

        .main-category {
            display: none;
            list-style-type: none;
            padding-left: 0;
        }

        .main-category.active {
            display: block;
        }

            /* Style for the button container */
        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        /* Style for the button */
        .add-button {
            background-color: #FF8A00;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        /* Style for the form container */
        .form-container {
            text-align: left;
            padding: 20px;
        }

        /* Style for the form inputs */
        .form-input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
		
	</style>
	
</head>
<body class="js">
	
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	
	
	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<!-- <ul class="list-main">
								<li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
								<li><i class="ti-email"></i> support@shophub.com</li>
							</ul> -->
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
								<li><i class=""></i> <a href="/login" id="logout-link" >Log out</a></li>
								<li><i class="ti-user"></i> <a href="/settings">Your Account</a></li>
							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-4 col-12">
						<!-- Logo -->
						<div class="logo">
						<a href="/index">
							<h4>
								Express Cart
							</h4>
						</a>
							<!-- <a href="index"><img src="images/logo1.png" alt="logo"></a> -->
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">Categories</option>
								</select>
								<form>
									<input name="search" placeholder="Search Here..." type="search">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<!-- <div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div>
							<div class="sinlge-bar">
								<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
							</div> -->
							<div class="sinlge-bar shopping">
								<a href="#" class="single-icon"><i class="ti-bag"></i> </a>
								<!-- Shopping Item -->

								<!--/ End Shopping Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="all-category">
                            
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->
	
	<!-- Slider Area -->
	<section class="hero-slider">
		<!-- Single Slider -->
		<div class="single-slider">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-9 offset-lg-3 col-12">
						<div class="text-inner">
							<div class="row">
								<div class="col-lg-7 col-12">
									<div class="hero-text">
										<h1><span>UP TO 50% OFF </span>ON SALE!</h1>
										<p>Christmas is coming, so get into the holiday spirit! Santa won’t come to town without you. Create your memory with our Christmas sale! Prices are low this Christmas! <br>– Now don’t be slow</p>
										<div class="button">
											<a href="#" class="btn">Shop Now!</a>
										</div>
										 <div id="popupContainer" class="popup">
											<div class="popup-content">
												<span id="popupCloseButton" class="popup-close-button">&times;</span>
												<h2>Add Product</h2>
												<form id="productForm" enctype="multipart/form-data" class="form-container">
													<label for="productName">Product Name:</label>
													<input type="text" id="productName" name="productName" class="form-input" required>

													<label for="productPrice">Product Price:</label>
													<input type="number" id="productPrice" name="productPrice" step="0.01" class="form-input" required>

													<label for="productImage">Product Image:</label>
													<input type="file" id="productImage" name="productImage" accept="image/*" class="form-input" required><br><br>

													<div class="button-container">
														<button type="submit" class="add-button">SELL</button>
													</div>
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
	</section>
	<!--/ End Slider Area -->
	
	<!-- Start Small Banner  -->
	<section class="small-banner section">
		<!-- 
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="https://via.placeholder.com/600x370" alt="#">
						<div class="content">
							<p>Man's Collectons</p>
							<h3>Summer travel <br> collection</h3>
							<a href="#">Discover Now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 col-12">
					<div class="single-banner">
						<img src="https://via.placeholder.com/600x370" alt="#">
						<div class="content">
							<p>Bag Collectons</p>
							<h3>Awesome Bag <br> 2020</h3>
							<a href="#">Shop Now</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-12">
					<div class="single-banner tab-height">
						<img src="https://via.placeholder.com/600x370" alt="#">
						<div class="content">
							<p>Flash Sale</p>
							<h3>Mid Season <br> Up to <span>40%</span> Off</h3>
							<a href="#">Discover Now</a>
						</div>
					</div>
				</div>
			</div>
		</div> --> 
	</section>
	<!-- End Small Banner -->
	
	<!-- Start Product Area -->
    <div class="product-area section">
            <div class="container">
				<div class="row">
					<div class="col-12">
						<div class="section-title">
							<h2>TOP ITEMS!</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="product-info">
							<div class="nav-main">
								<!-- Tab Nav -->
								<ul class="nav nav-tabs" id="myTab" role="tablist">
									<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab">SALE</a></li>
									<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women" role="tab">VIEWS</a></li>
									<li class="nav-item"><a class="nav-link " data-toggle="tab" href="#kids" role="tab">TRENDING</a></li>
								</ul>
								<!--/ End Tab Nav -->
							</div>
							<div class="tab-content" id="myTabContent">
								<!-- Start Single Tab -->
								<div class="tab-pane fade" id="man" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="">
															<img class="default-img" src="images/item1.png" alt="#">
														</a>
														<div class="button-head">
															
															<div class="product-action-2">
																<a title="Add to cart" href="#">Add to cart</a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">Product 1</a></h3>
														<div class="product-price">
															<span>₱0.00</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="">
															<img class="default-img" src="images/item4.png" alt="#">
														</a>
														<div class="button-head">
															
															<div class="product-action-2">
																<a title="Add to cart" href="#">Add to cart</a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">Product 4</a></h3>
														<div class="product-price">
															<span>₱0.00</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="">
															<img class="default-img" src="images/item7.png" alt="#">
														</a>
														<div class="button-head">
															
															<div class="product-action-2">
																<a title="Add to cart" href="#">Add to cart</a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">Product 7</a></h3>
														<div class="product-price">
															<span>₱0.00</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade" id="women" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="">
															<img class="default-img" src="images/item2.png" alt="#">
														</a>
														<div class="button-head">
															
															<div class="product-action-2">
																<a title="Add to cart" href="#">Add to cart</a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">Product 2</a></h3>
														<div class="product-price">
															<span>₱0.00</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="">
															<img class="default-img" src="images/item5.png" alt="#">
														</a>
														<div class="button-head">
															
															<div class="product-action-2">
																<a title="Add to cart" href="#">Add to cart</a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">Product 5</a></h3>
														<div class="product-price">
															<span>₱0.00</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="">
															<img class="default-img" src="images/item8.png" alt="#">
														</a>
														<div class="button-head">
															
															<div class="product-action-2">
																<a title="Add to cart" href="#">Add to cart</a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">Product 8</a></h3>
														<div class="product-price">
															<span>₱0.00</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
								<!-- Start Single Tab -->
								<div class="tab-pane fade" id="kids" role="tabpanel">
									<div class="tab-single">
										<div class="row">
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="">
															<img class="default-img" src="images/item3.png" alt="#">
														</a>
														<div class="button-head">
															
															<div class="product-action-2">
																<a title="Add to cart" href="#">Add to cart</a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">Product 3</a></h3>
														<div class="product-price">
															<span>₱0.00</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="">
															<img class="default-img" src="images/item6.png" alt="#">
														</a>
														<div class="button-head">
															
															<div class="product-action-2">
																<a title="Add to cart" href="#">Add to cart</a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">Product 6</a></h3>
														<div class="product-price">
															<span>₱0.00</span>
														</div>
													</div>
												</div>
											</div>
											<div class="col-xl-3 col-lg-4 col-md-4 col-12">
												<div class="single-product">
													<div class="product-img">
														<a href="">
															<img class="default-img" src="images/item9.png" alt="#">
														</a>
														<div class="button-head">
															
															<div class="product-action-2">
																<a title="Add to cart" href="#">Add to cart</a>
															</div>
														</div>
													</div>
													<div class="product-content">
														<h3><a href="">Product 9</a></h3>
														<div class="product-price">
															<span>₱0.00</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!--/ End Single Tab -->
							</div>
						</div>
					</div>
				</div>
            </div>
    </div>
	<!-- End Midium Banner -->
	
	
	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="/index">
									<h3 style="color: #fff;">
										Express Cart
									</h3>
								</a>
							</div>
							<p class="text"> Streamline your shopping experience with Express-Cart we provide so fast! Letting you have a sustainable income. </p>
							
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li><a href="/about">About Us</a></li>
								<li><a href="/about">Faq</a></li>
								<li><a href="/policy">Terms & Conditions</a></li>
								<li><a href="/contact">Contact Us</a></li>
								<li><a href="/contact">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul>
								<li><a href="#">Payment Methods</a></li>
								<li><a href="#">Money-back</a></li>
								<li><a href="#">Returns</a></li>
								<li><a href="#">Shipping</a></li>
								<li><a href="/policy">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Tuch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li>Philippines</li>
									<li>Pangasinan</li>
									<li>support@express-cart.org</li>
									<li>+6391234567890</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li><a href="#"><i class="ti-facebook"></i></a></li>
								<li><a href="#"><i class="ti-linkedin"></i></a></li>
								<li><a href="#"><i class="ti-github"></i></a></li>
								<li><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2023 <a href="#" target="_blank">Express Cart</a>  -  All Rights Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<!-- <div class="right">
								<img src="images/payments.png" alt="#">
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->
 
	<!-- Jquery -->
    <script src="/jquery.min.js"></script>
    <script src="/jquery-migrate-3.0.0.js"></script>
	<script src="/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="/colors.js"></script>
	<!-- Magnific Popup JS -->
	<script src="/magnific-popup.js"></script>
	<!-- Nice Select JS -->
	<script src="/nicesellect.js"></script>
	<!-- Onepage Nav JS -->
	<script src="/onepage-nav.min.js"></script>
	<!-- Active JS -->
	<script src="/active.js"></script>
	 <script>
        function toggleMenu(element) {
            var submenu = element.nextElementSibling;
            submenu.classList.toggle("active");
        }
    </script>
    	<script src="script.js"></script>
	<style>
        /* Style for the Add button */
        #addButton {
            position: fixed;
            bottom: 20px;
            right: 20px;
            background-color: #FF8A00;
            color: white;
            border: none;
            border-radius: 50%;
            padding: 15px;
            font-size: 24px;
            cursor: pointer;
        }
    </style>

	<button id="addButton">+</button>

    <script>
       document.addEventListener('DOMContentLoaded', function() {
    const popup = document.getElementById('popupContainer');
    const closeButton = document.getElementById('popupCloseButton');
    const productForm = document.getElementById('productForm');
    const productsList = document.getElementById('productsList');

    // Function to add a product to the products list
    function addProductToPage(product) {
        const productElement = document.createElement('div');
        productElement.classList.add('product');
        productElement.innerHTML = `
            <img src="${URL.createObjectURL(product.image)}" alt="${product.name}">
            <h3>${product.name}</h3>
            <p>Price: $${product.price.toFixed(2)}</p>
        `;

        productsList.appendChild(productElement);
    }

    // Event listener for the close button
    closeButton.addEventListener('click', () => {
        // Hide the pop-up
        popup.style.display = 'none';
    });

    // Event listener for form submission
    productForm.addEventListener('submit', (e) => {
        e.preventDefault(); // Prevent the form from submitting

        // Get the product name, price, and image file from the form
        const productName = document.getElementById('productName').value;
        const productPrice = document.getElementById('productPrice').value;
        const productImage = document.getElementById('productImage').files[0]; // Get the first selected file

        // Create a new product object with the data
        const newProduct = {
            name: productName,
            price: parseFloat(productPrice),
            image: productImage,
        };

        // You can handle the product data as needed (e.g., add to a list, send to a server, etc.)
        // Here, we'll simply display the product on the front page using the addProductToPage function
        addProductToPage(newProduct);

        // Clear the form fields
        document.getElementById('productName').value = '';
        document.getElementById('productPrice').value = '';
        document.getElementById('productImage').value = '';

        // Close the pop-up
        popup.style.display = 'none';
    });

    // Trigger the pop-up when your button is clicked
    const addButton = document.getElementById('addButton'); // Replace with your button's actual ID
    addButton.addEventListener('click', () => {
        // Show the pop-up
        popup.style.display = 'block';
    });
});
    </script>
</body>
</html>