<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
    <title>Express Cart</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png " href="images/logo1.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	
	<!-- StyleSheet -->
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/bootstrap.css">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="/magnific-popup.min.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="/jquery.fancybox.min.css">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="/themify-icons.css">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="/niceselect.css">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="/animate.css">
	<!-- Items StyleSheet -->
	<link rel="stylesheet" href="/items.css">
	<!-- shop StyleSheet -->
	<link rel="stylesheet" href="/reset.css">
	<link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/responsive.css">
	<link rel="stylesheet" href="/myStyle.css">
	<style>
		.shopping{
			margin-right: "190px";
		}
	     /* Style for the dropdown */
        .cat-heading {
            cursor: pointer;
            color: #333;
        }

        .main-category {
            display: none;
            list-style-type: none;
            padding-left: 0;
        }

        .main-category.active {
            display: block;
        }

            /* Style for the button container */
        .button-container {
            text-align: center;
            margin-top: 20px;
        }

        /* Style for the button */
        .add-button {
            background-color: #FF8A00;
            color: #fff;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }

        /* Style for the form container */
        .form-container {
            text-align: left;
            padding: 20px;
        }

        /* Style for the form inputs */
        .form-input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }
		
	</style>
	
</head>
<body class="js">
	
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	
	
	<!-- Header -->
	<header class="header shop">
		<!-- Topbar -->
		<div class="topbar">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-12 col-12">
						<!-- Top Left -->
						<div class="top-left">
							<ul class="list-main">
								<li><i class="ti-email"></i> support@express-cart.org</li>
							</ul> 
						</div>
						<!--/ End Top Left -->
					</div>
					<div class="col-lg-8 col-md-12 col-12">
						<!-- Top Right -->
						<div class="right-content">
							<ul class="list-main">
								<li class="socials"><i class=""></i> <a href="/login" id="logout-link" >Log out</a></li>
								<li class="socials"><i class="ti-user"></i> <a href="/settings">Your Account</a></li>
							</ul>
						</div>
						<!-- End Top Right -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Topbar -->
		<div class="middle-inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-4 col-12">
						<!-- Logo -->
						<div class="logo">
						<a href="/index">
							<h4>
								Express Cart
							</h4>
						</a>
							<!-- <a href="index"><img src="images/logo1.png" alt="logo"></a> -->
						</div>
						<!--/ End Logo -->
						<!-- Search Form -->
						<div class="search-top">
							<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
							<!-- Search Form -->
							<div class="search-top">
								<form class="search-form">
									<input type="text" placeholder="Search here..." name="search">
									<button value="search" type="submit"><i class="ti-search"></i></button>
								</form>
							</div>
							<!--/ End Search Form -->
						</div>
						<!--/ End Search Form -->
						<div class="mobile-nav"></div>
					</div>
					<div class="col-lg-8 col-md-7 col-12">
						<div class="search-bar-top">
							<div class="search-bar">
								<select>
									<option selected="selected">Categories</option>
								</select>
								<form>
									<input name="search" placeholder="Search Here..." type="search">
									<button class="btnn"><i class="ti-search"></i></button>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-3 col-12">
						<div class="right-bar">
							<!-- Search Form -->
							<!-- <div class="single-bar">
								<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
							</div>
							<div class="single-bar">
								<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
							</div> -->
								<div class="single-bar shopping">
								  <a href="/cart" class="single-icon"><i class="ti-bag"></i></a>

								<!-- Shopping Item -->

								<!--/ End Shopping Item -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Header Inner -->
		<div class="header-inner">
        <div class="container">
            <div class="cat-nav-head">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="all-category">
                            
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Header Inner -->
	</header>
	<!--/ End Header -->
	
	<!-- Slider Area -->
	<section class="hero-slider">
		<!-- Single Slider -->
		<div class="single-slider">
			<div class="container">
				<div class="row no-gutters">
					<div class="col-lg-9 offset-lg-3 col-12">
						<div class="text-inner">
							<div class="row">
								<div class="col-lg-7 col-12">
									<div class="hero-text">
										<h1><span>UP TO 50% OFF </span>ON SALE!</h1>
										<p>Christmas is coming, so get into the holiday spirit! Santa won’t come to town without you. Create your memory with our Christmas sale! Prices are low this Christmas! <br>– Now don’t be slow</p>
										<div class="button">
											<a href="#" class="btn">Shop Now!</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Single Slider -->
	</section>
	<!--/ End Slider Area -->
	
	<!-- Start Items For Sale -->
	<main>
        <section id="item-form">
            <h2>Post an Item</h2>
            <form id="post-item-form">
                <label for="item-name">Item Name</label>
                <input type="text" id="item-name" required>
                <label for="item-price">Item Price</label>
                <input type="number" id="item-price" required>
				<label for="productImage">Product Image:</label>
				<input type="file" id="item-name" name="productImage" accept="image/*" class="form-input" required><br><br>
                <button type="submit">Post Item</button>

            </form>
        </section>
        <section id="item-list">
            <h2>Available Items</h2>
            <ul id="items">
                <!-- Item list will be populated here -->
            </ul>
        </section>
    </main>
	<!-- End Items For Sale -->

	<!-- Start Footer Area -->
	<footer class="footer">
		<!-- Footer Top -->
		<div class="footer-top section">
			<div class="container">
				<div class="row">
					<div class="col-lg-5 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer about">
							<div class="logo">
								<a href="/index">
									<h3 style="color: #fff;">
										Express Cart
									</h3>
								</a>
							</div>
							<p class="text"> Streamline your shopping experience with Express-Cart we provide so fast! Letting you have a sustainable income. </p>
							
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Information</h4>
							<ul>
								<li class="socials"><a href="/about">About Us</a></li>
								<li class="socials"><a href="/about">Faq</a></li>
								<li class="socials"><a href="/policy">Terms & Conditions</a></li>
								<li class="socials"><a href="/contact">Contact Us</a></li>
								<li class="socials"><a href="/contact">Help</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-2 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer links">
							<h4>Customer Service</h4>
							<ul>
								<li class="socials"><a href="#">Payment Methods</a></li>
								<li class="socials"><a href="#">Money-back</a></li>
								<li class="socials"><a href="#">Returns</a></li>
								<li class="socials"><a href="#">Shipping</a></li>
								<li class="socials"><a href="/policy">Privacy Policy</a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Widget -->
						<div class="single-footer social">
							<h4>Get In Touch</h4>
							<!-- Single Widget -->
							<div class="contact">
								<ul>
									<li class="socials">Philippines</li>
									<li class="socials">Pangasinan</li>
									<li class="socials">support@express-cart.org</li>
									<li class="socials">+6391234567890</li>
								</ul>
							</div>
							<!-- End Single Widget -->
							<ul>
								<li class="socials"><a href="#"><i class="ti-facebook"></i></a></li>
								<li class="socials"><a href="#"><i class="ti-linkedin"></i></a></li>
								<li class="socials"><a href="#"><i class="ti-github"></i></a></li>
								<li class="socials"><a href="#"><i class="ti-instagram"></i></a></li>
							</ul>
						</div>
						<!-- End Single Widget -->
					</div>
				</div>
			</div>
		</div>
		<!-- End Footer Top -->
		<div class="copyright">
			<div class="container">
				<div class="inner">
					<div class="row">
						<div class="col-lg-6 col-12">
							<div class="left">
								<p>Copyright © 2023 <a href="#" target="_blank">Express Cart</a>  -  All Rights Reserved.</p>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<!-- <div class="right">
								<img src="images/payments.png" alt="#">
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- /End Footer Area -->
	<!-- Items -->
	<script src="/items.js"></script>
	<!-- Jquery -->
    <script src="/jquery.min.js"></script>
    <script src="/jquery-migrate-3.0.0.js"></script>
	<script src="/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="/colors.js"></script>
	<!-- Magnific Popup JS -->
	<script src="/magnific-popup.js"></script>
	<!-- Nice Select JS -->
	<script src="/nicesellect.js"></script>
	<!-- Onepage Nav JS -->
	<script src="/onepage-nav.min.js"></script>
	<!-- Active JS -->
	<script src="/active.js"></script>
</body>
</html>