<!DOCTYPE html>
<html lang="zxx">
<head>
	<!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='copyright' content=''>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Title Tag  -->
<title>Express Cart</title>
	<!-- Favicon -->
	<link rel="icon" type="image/png " href="images/logo1.png">
	<!-- Web Font -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
	
	<!-- StyleSheet -->
	
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/bootstrap.css">
	<!-- Magnific Popup -->
    <link rel="stylesheet" href="/magnific-popup.min.css">
	<!-- Font Awesome -->
    <link rel="stylesheet" href="/font-awesome.css">
	<!-- Fancybox -->
	<link rel="stylesheet" href="/jquery.fancybox.min.css">
	<!-- Themify Icons -->
    <link rel="stylesheet" href="/themify-icons.css">
	<!-- Nice Select CSS -->
    <link rel="stylesheet" href="/niceselect.css">
	<!-- Animate CSS -->
    <link rel="stylesheet" href="/animate.css">
	<!-- Flex Slider CSS -->
    <link rel="stylesheet" href="/flex-slider.min.css">
	<!-- Owl Carousel -->
    <link rel="stylesheet" href="/owl-carousel.css">
	<!-- Slicknav -->
    <link rel="stylesheet" href="/slicknav.min.css">
	
	<!-- Eshop StyleSheet -->
	<link rel="stylesheet" href="/reset.css">
	<link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/responsive.css">
	<link rel="stylesheet" href="/myStyle.css">
    <style>
        .active{
            font-weight: bold;
        }
        .main-sidebar{
            background: #fff;
            margin-top: 0px;
            padding: 40px;
            background: transparent;
            border: 1px solid #eeeeeec2;
        }
        .button{
           margin-left: auto;
        }

    </style>
	
	
</head>
<body class="js">
	
	<!-- Preloader -->
	<div class="preloader">
		<div class="preloader-inner">
			<div class="preloader-icon">
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<!-- End Preloader -->
	
	
		
		<!-- Header -->
		<header class="header shop">
			<!-- Topbar -->
			<div class="topbar">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-12 col-12">
							<!-- Top Left -->
							<div class="top-left">
								
							</div>
							<!--/ End Top Left -->
						</div>
						<div class="col-lg-8 col-md-12 col-12">
							<!-- Top Right -->
							<div class="right-content">
                                <ul class="list-main">
                                    <li><i class="ti-bell"></i>Notification</li>
                                    <li><i class="ti-user"></i> <a href="/settings">Your Account</a></li>
                                </ul>
                            </div>
							<!-- End Top Right -->
						</div>
					</div>
				</div>
			</div>
			<!-- End Topbar -->
			<div class="middle-inner">
				<div class="container">
					<div class="row">
						<div class="col-lg-2 col-md-2 col-12">
							<!-- Logo -->
							<div class="logo">
								<a href="/index">
									<h4>
										Express Cart
									</h4>
								</a>
							</div>
							<!--/ End Logo -->
							<!-- Search Form -->
							<div class="search-top">
								<div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
								<!-- Search Form -->
								<div class="search-top">
									<form class="search-form">
										<input type="text" placeholder="Search here..." name="search">
										<button value="search" type="submit"><i class="ti-search"></i></button>
									</form>
								</div>
								<!--/ End Search Form -->
							</div>
							<!--/ End Search Form -->
							<div class="mobile-nav"></div>
						</div>
						<div class="col-lg-8 col-md-7 col-12">
							<div class="search-bar-top">
								<div class="search-bar">
									<select>
										<option selected="selected">All Category</option>
										<option>watch</option>
										<option>mobile</option>
										<option>kid’s item</option>
									</select>
									<form>
										<input name="search" placeholder="Search Products Here....." type="search">
										<button class="btnn"><i class="ti-search"></i></button>
									</form>
								</div>
							</div>
						</div>
						<div class="col-lg-2 col-md-3 col-12">
							<div class="right-bar">
								<!-- Search Form -->
								<!-- <div class="sinlge-bar">
									<a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
								</div>
								<div class="sinlge-bar">
									<a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
								</div> -->
								<div class="sinlge-bar shopping">
									<a href="#" class="single-icon"><i class="ti-bag"></i> <span class="total-count">2</span></a>
									<!-- Shopping Item -->
									<div class="shopping-item">
										<div class="dropdown-cart-header">
											<span>2 Items</span>
											<a href="#">View Cart</a>
										</div>
										<ul class="shopping-list">
											<li>
												<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
												<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
												<h4><a href="#">Woman Ring</a></h4>
												<p class="quantity">1x - <span class="amount">$99.00</span></p>
											</li>
											<li>
												<a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
												<a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
												<h4><a href="#">Woman Necklace</a></h4>
												<p class="quantity">1x - <span class="amount">$35.00</span></p>
											</li>
										</ul>
										<div class="bottom">
											<div class="total">
												<span>Total</span>
												<span class="total-amount">$134.00</span>
											</div>
											<a href="checkout" class="btn animate">Checkout</a>
										</div>
									</div>
									<!--/ End Shopping Item -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	
	
	
  
	<!-- Start Contact -->
	<section id="contact-us" class="contact-us section">
		<div class="container">
				<div class="contact-head">
					<div class="row">

                        <div class="col-lg-4 col-12">
							<div class="main-sidebar">

                                <div class="single-widget category">
                                    <h3 class="title">Settings</h3>
                                    <ul class="categor-list">
                                        <li><a href="/settings">Account Settings</a></li>
                                        <li><a href="/changepassword">Change Password</a></li>
                                        <li><a href="/policy" class="active">Privacy and Policy</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/about">About Us</a></li>
                                    </ul>
                                </div>  

							</div>
						</div>


						<div class="col-lg-8 col-12">
							<div class="form-main">
								<div class="title">
									<!-- <h4>Get in touch</h4> -->
									<h3>Privacy and Policy</h3>
								</div>

                                <h5>Privacy</h5>
                                <div class="content">
									This Privacy Policy ("Policy") outlines the practices and procedures employed by Express Cart ("we," "us," or "our") in regard to the collection, use, and disclosure of personal information when you access and use our Website and its subsidiaries. We are committed to protecting your privacy and ensuring the security of your personal information. By accessing and using the Website, you consent to the collection, use, and disclosure of your personal information in accordance with this Policy. 
                                </div>
                                <br/>
                                <h5>Other Policy</h5>
                                <div class="content">
									This Store Policy ("Policy") governs your use of the online store ("Store") associated Express Cart ("we," "us," or "our"). By accessing and using the Store, you agree to comply with this Policy. 
                                </div> 
								<div class="content"><br>Please read this Policy carefully before making any purchases from the Store. We reserve the right to change this Policy at any time without notice. Any changes to this Policy will be effective immediately upon posting the revised Policy on the Website. Your continued use of the Store indicates your consent to the Policy then posted. If you do not agree to the Policy, please do not use the Store.</div>


							</div>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<!--/ End Contact -->


	


	
	
 
	<!-- Jquery -->
    <script src="/jquery.min.js"></script>
    <script src="/jquery-migrate-3.0.0.js"></script>
	<script src="/jquery-ui.min.js"></script>
	<!-- Popper JS -->
	<script src="/popper.min.js"></script>
	<!-- Bootstrap JS -->
	<script src="/bootstrap.min.js"></script>
	<!-- Color JS -->
	<script src="/colors.js"></script>
	<!-- Slicknav JS -->
	<script src="/slicknav.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="/owl-carousel.js"></script>
	<!-- Magnific Popup JS -->
	<script src="/magnific-popup.js"></script>
	<!-- Fancybox JS -->
	<script src="/facnybox.min.js"></script>
	<!-- Waypoints JS -->
	<script src="/waypoints.min.js"></script>
	<!-- Jquery Counterup JS -->
	<script src="/jquery-counterup.min.js"></script>
	<!-- Countdown JS -->
	<script src="/finalcountdown.min.js"></script>
	<!-- Nice Select JS -->
	<script src="/nicesellect.js"></script>
	<!-- Ytplayer JS -->
	<script src="/ytplayer.min.js"></script>
	<!-- Flex Slider JS -->
	<script src="/flex-slider.js"></script>
	<!-- ScrollUp JS -->
	<script src="/scrollup.js"></script>
	<!-- Onepage Nav JS -->
	<script src="/onepage-nav.min.js"></script>
	<!-- Easing JS -->
	<script src="/easing.js"></script>
	<!-- Google Map JS -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM"></script>	
	<script src="/gmap.min.js"></script>
	<script src="/map-script.js"></script>
	<!-- Active JS -->
	<script src="/active.js"></script>
</body>
</html>