<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- ===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="/resetpass.css">
    
         
    <title>Reset Password Form</title> 
</head>
<body>
    
    <div class="container">
        <div class="forms">
            <!-- Forgot Pass Form -->
            <div class="form resetpass">
                <span class="title">Reset Password</span>
                <form action="/resetpass" method="post">
                    <div class="input-field">
                        <input type="text" placeholder="Enter your Username" name="user_name" required>
                        <i class="uil uil-user"></i>
                     </div>
                    <div class="input-field">
                        <input type="email" placeholder="Enter your Email" name="email" required>
                        <i class="uil uil-envelope icon"></i>
                     </div>
                     <div class="input-field">
                        <input type="password" id="password" class="password" name="newPassword" placeholder="Enter New Password" required>
                        <i class="uil uil-lock icon"></i>
                    </div>
                    <div class="input-field">
                        <input type="password" class="password" placeholder="Confirm Password" name="confirmPassword" required>
                        <i class="uil uil-lock icon"></i>
                        <i class="uil uil-eye-slash showHidePw"></i>
                    </div>
                    <div class="login-signup">
                    <span class="text">Password Reseted?
                        <a href="#" class="text" onclick="window.location.href='/login'">Login Now</a>
                    </span>
                    </div>
                    {{#if message }}
                        <h5 class="alert alert-danger mt-2">{{message}}</h5>
                    {{/if}}
                    <div class="input-field button">
                        <button type="submit" class="input-field button">Reset Pass</button>
            
                    </div>
                </form>
            </div>
        </div>
    </div>
     <script src="/auth.js"></script>
     	<!-- Jquery Counterup JS -->
	<script src="/jquery-counterup.min.js"></script>
		<!-- Jquery -->
    <script src="/jquery.min.js"></script>
    <script src="/jquery-migrate-3.0.0.js"></script>
	<script src="/jquery-ui.min.js"></script>
</body>
</html>
